body{
	background:white,
}
.nav-wrapper{
	background:teal,
}

#s1{
	color:white
}
#ss1{
	color:white
}

h4{
	text-align: center;
}
span{
	text-align: center;
}
h2{
	text-align: center;
}
div{
	margin: 80px;
	padding: 20px
}

footer{
	background-color: #D3D3D3;
	color: white,
}


li{
	list-style-type: circle;
	font-size: medium;
}
